header{
  .form-set{
    margin-top: 10px;
    padding: 2px 40px;
  }
  i{
    position: absolute;

  }
  .icon{
  }
}

.navset{
  margin-left: 100px;

}
.nav-link {
  text-decoration: none;
}

.container-img{
  position: relative;

  img{
    filter: brightness(0.4);

  }
  p{
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(50% -50%);
    color: white;
    font-size: xxx-large;
    text-align: center;
  }

  
}
.card-container{
  display: flex;
  justify-content: flex-start;

  .card:hover{
    box-shadow: 0px 2px 7px 3px;
  }
}
.comment-box{
  border-radius: 5px;
  box-shadow: 0px 2px 7px 3px;

  .user1{
    border-radius: 10px;
    padding: 5px;

  }
  .vodou-img{
    position: relative;
  }


    .image-user{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      float: left;
    }
}
@media screen and (max-width: 500px){
    .card-container{
      flex-direction: column;

    }
}